.build
.mbed
projectfiles
*.py*
mbed-os
BUILD

plt_iks4a1

/BUILD/NUCLEO_F401RE/ARMC6/.link_options.txt
/BUILD/NUCLEO_F401RE/ARMC6/.profile-ld
/BUILD/NUCLEO_F401RE/ARMC6/xNucleo-IKS4A1_LSM6DS16X_mbedOS_004-SingleTap.elf
/BUILD/NUCLEO_F401RE/ARMC6/xNucleo-IKS4A1_LSM6DS16X_mbedOS_004-SingleTap.map
/BUILD/NUCLEO_F401RE/ARMC6/xNucleo-IKS4A1_LSM6DS16X_mbedOS_004-SingleTap_map.csv
/BUILD/NUCLEO_F401RE/ARMC6/xNucleo-IKS4A1_LSM6DS16X_mbedOS_004-SingleTap_map.html
/BUILD/NUCLEO_F401RE/ARMC6/xNucleo-IKS4A1_LSM6DS16X_mbedOS_004-SingleTap_map.json
